<!-- 
This html file is part of: github.com/pablocorbalann/secgenda

It belongs to "Secgenda", a secure contact agenda 100% open-source
that is designed to run locally in your computer

Created by Pablo Corbalán (@pablocorbalann arround the internet)

Are you a developer and you are interested in Secgenda's code, check
out the GitHub repository for more information about it, and files
that explain all the parts of the code... and don't forget your star! :)
-->
<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>Secgenda · {{ title }}</title>
    {% else %}
    <title>Secgenda</title>
    {% endif %}
    {% if description %}
    <meta name="description" content="{{ description }}">
    {% else %}
    <meta name="description" content="Secgenda is the most secure contact agenda in the world, it's 100% open source and has been built using a Python web server by Pablo Corbalán @pablocorbalann">
    {% endif %}
    <meta name="author" content="Pablo Corbalán De Concepción @pablocorbalann">
    <meta name="copyright" content="Pablo Corbalán & contributors [C] 2021">
    <meta name="license" content="Secgenda, under the MIT LICENSE">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css stylesheets: custom, bootstrap -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
